<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<span th:text="'登录用户：' + ${session.user.nickName}+'     '"></span> <a th:href="@{/logout}">退出</a><br/>
<button><a th:href="@{/userAdd}">添加用户</a></button>
<table border="1" cellspacing="0">
    <thead>
        <tr style="text-align:center">
            <th>昵称</th>
            <th>账户</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item:${users}">
            <td th:text="${item.nickName}"></td>
            <td th:text="${item.username}"></td>
            <td th:text="${item.password}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <button><a th:href="'/userUpdate/' + ${item.id}">更改</a></button>
                <button><a th:href="'/userDelete/' + ${item.id}">删除</a></button>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
